<head>
    <title> Deploy Model </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<center>
    <img src="{{ display }}" height=500 />

    <form class="p-3 text-center" action="/", method="POST" enctype="multipart/form-data">
        <input class="form-control" type="file" name="csvfile" >
        <input class="btn btn-primary mt-3" type="submit" value="Predictions">
    </form>
</center>